{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Resume Details</h2>
    <div class="pdf-viewer">
        {{ pdf_view|safe }}
    </div>

    <form method="POST" action="{% url 'save_resume' resume.pk %}">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="structured_data">Parsed Resume Data:</label>
            <textarea name="structured_data" class="form-control" rows="10">{{ resume.parsed_data|safe }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save Resume</button>
    </form>
</div>
{% endblock %}
